.logo-header {
    width: 150px;
    height: 60px;
}

.logo-footer {
    width: 200px;
    height: 60px;
}

form {
    font-family: Pluto;
}

.required-field {
    color: red;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 0%);
    height: 2px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 80%;
    height: 70px;
    border: 1px solid blueviolet;
}

.bootstrap-select > .dropdown-toggle {
    height: 100%;
}

